@media screen and (min-width: 800px) {
	.navbar {
		padding: 2%;
		a {
			padding: 1.5rem;
		}
	}

	#about {
		padding-right: 15%;
	}

	.about-section {
		p {
			padding-left: 8%;
		}
	}

	.entry-title, .page-title {
		font-size: 3rem;
	}

	.content-area {
		width: 60%;
		margin: auto auto;
	}

}

@media screen and (max-width: 800px) {
	.navbar {
		padding: 0.5%;
		padding-top: 2%;
		a {
			padding: 0.5rem;
		}
	}
	
	.main-page-section {
		text-align: center;
		padding-left: 5%;
		padding-right: 5%;
		line-height: 1.5;
	}

	h1 {
		text-align: left;
	}

	.entry-title, .page-title {
		font-size: 2rem;
	}

	.content-area {
		width: 90%;
		margin: auto auto;
	}

	.form-submit {
	text-align: center;
	}

	#splash-text {
		h1 {
			font-size: 2.5rem;
			}
	}
}

@media screen and (max-width: 430px) {
	.navbar {
		padding: 0.5%;
		padding-top: 2%;
		text-align: center;
		a {
			padding: 0.5rem;
		}
	}
}