button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: #d35400;
	color: #eeeeee;
	font-family: "pt-sans";
	font-weight: 700;
	text-transform: uppercase;
	line-height: 1.5;
	padding: 1%;
	border: none;


	&:hover {
		background-color: #a04000;
	}

	&:active,
	&:focus {
		background-color: #a04000;
	}
}