button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: #E67E22;
	color: white;
	font-family: "p22-underground";
	font-weight: 700;
	text-transform: uppercase;
	padding: 1.5%;
	border: none;


	&:hover {
		background-color: #CC701E;
	}

	&:active,
	&:focus {
		background-color: #CC701E;
	}
}